<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h4 th:text="${title}"></h4>
		<a class="btn btn-primary btn-xs" th:href="@{/vacante/crear}"
			th:text="'Crear vacante'"></a>
		<table class="table table-bordered table-striped my-4">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Título</th>
					<th>Salario mínimo</th>
					<th>Salario máximo</th>
					<th>Habilidades requeridas</th>
					<th>Habilidades deseables</th>
					<th>Detalle</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:if="${#lists.isEmpty(vacants)}">
					<td colspan="8">No hay vacantes para mostrar</td>
				</tr>
				<tr th:if="${not #lists.isEmpty(vacants)}"
					th:each="vacant: ${vacants}">
					<td th:text="${vacant.id}"></td>
					<td th:text="${vacant.title}"></td>
					<td th:text="${vacant.minSalary}"></td>
					<td th:text="${vacant.maxSalary}"></td>
					<td th:text="${vacant.requiredSkills}"></td>
					<td th:text="${vacant.wishableSkills}"></td>
					<td>
						<a th:href="@{/vacante/detalle/} + ${vacant.id}"
						class="btn btn-primary btn-sm" th:text="'Detalle'"></a>
					</td>
					<td><a th:href="@{'/vacante/editar/' + ${vacant.id}}"
						class="btn btn-success btn-sm" th:text="'Editar'"></a></td>
					<td><a th:href="@{'/vacante/eliminar/' + ${vacant.id}}"
						class="btn btn-danger btn-sm" th:text="'Eliminar'"></a></td>
				</tr>
			</tbody>
		</table>
		<nav th:replace="paginator :: paginator"></nav>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>